*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(220deg,rgba(26, 26, 26, .0), rgba(26, 26, 26, 1)), url(img/main1.png);
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
    position: relative;
}
.head-content{
    width: 40%;
    color: white;
    /* margin-left: 150px; */
    position: absolute;
    top: 30%;
    left: 10%;
    /* bottom: 40%; */
}
.head-content h1{
    font-size: 85px;
    font-weight: 700;
    line-height: 90px;
}
.head-content p{
    font-size: 25px;
    padding: 20px 0px;
}
 .btn{
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 30px;
    color: #fff;
    background-color: #EF233C;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    font-weight: 500;
    color: #EF233C;
    background-color: #fff;
    border: 1.5px solid #EF233C;
    padding: 10px 40px;
}
/* header section syle done */

#message{
    margin: 90px 0px;

}
#first-message , #second-message{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
.first-message , .second-message{
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.fm-text{
    padding-right: 30px;
}
.fm-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.fm-text p{
    font-size: 20px;
    padding: 20px 0px;
}
.sm-text{
    padding-right: 0;
    padding-left: 40px;
}
/* second section style done */

#help{
    margin: 100px 0px;
}
.upper-text{
    text-align: center;
    margin-bottom: 30px;
}
.upper-text h1{
    font-size: 70px;
    font-weight: 700;
}
.upper-text p{
    tab-size: 35px;
    font-weight: 500;
    padding: 50px 0px;
}
/* card section starts from here */
.lower-cards{
    /* padding: 50px 0px; */
    display: flex;
    justify-content: center;
}
.card-section{
    width: 55%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.card{
    width: 40%;
    display: flex;
    background-color: #FEF4F5;
    padding: 30px 20px;
    border-radius: 5px;
}
.card .img{
    padding: 0px 10px;
}
.card .text h4{
    font-size: 20px;
    margin-bottom: 5px;
}
.card .text p{
    font-size: 15px;
    padding-bottom: 5px;
    line-height: 25px;
}
/* third section done  */

#img-sky{
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}
.img-section{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

/* fourth section  done */
#charity{
    margin-bottom: 90px;
}
.charity-text{
    text-align: center;
}
.charity-text h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.charity-text p{
    font-size: 18px;
    padding: 10px 0px;
}

.cards-container{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
.charity-cards{
    display: flex;
    justify-content: space-between;
    width: 70%
}
.charity-card{
    width: 30%;
    border: 1.5px solid rgb(114, 114, 114);
    border-radius: 10px;
}
.charity-img img{
    width: 100%;
    margin-bottom: 20px;
}
.charity-card .text{
    padding: 10px 20px;
}
.charity-card .text h4{
    font-size: 20px;
    padding-bottom: 10px ;
}
.charity-card .text p{
    line-height: 18px;
    margin-bottom: 20px;
}
.charity-card .text a{
    text-decoration: none;
    color: #EF233C;
    font-weight: 700;
}

/* body section style done */

/* footer section started */
footer{
    padding: 50px 0px;
    background-color: #121212;
    text-align: center;

}
footer h2{
    color: #EF233C;
    font-style: italic;
    padding-bottom: 20px;
}
footer h4{
    color: #fff;
}